#projects {
  background-color: (1, 49, 145, 0.1);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "h h h h h h " " xl xl xl f f f  ";
  justify-content: center;
  justify-items: center;
  margin: 0% 1% 5% 1%;
}

#projects h2 {
  font-size: 40px;
  grid-area: h;
  justify-self: center;
}

#projects .project-img {
  width: 90%;
  justify-self: center;
}

.project {
  width: 250px;
  height: 80%;
  margin-bottom: 25%;
  background-color: rgba(1, 49, 145, 0.1);
  border-radius: 10%;
  box-shadow: 2px 2px 2px 2px rgba(2, 22, 63, 0.3);
  text-align: center;
  padding-top: 15%;
}

.project > h3 {
  font-size: 1.3em;
  justify-content: center;
}

.button-projects {
  grid-area: xl;
  justify-self: right;
  padding: 15px 25px;
  background-color: #3344dd;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  cursor: pointer;
  font-size: 1.3rem;
  display: inline-block;
  margin: 20px;
}

.study-trip {
  grid-area: f;
  justify-self: left;
  padding: 15px 25px;
  background-color: #3344dd;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  cursor: pointer;
  display: inline-block;
  margin: 20px;
}

#projects div p {
  padding: 0% 5% 0% 5%;
}

#projects div .mini-img-project {
  width: 45px;
  margin: 8px;
}

@media screen and (max-width: 768px) {
  #projects {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "h h h h" "xx xx gg gg";
    justify-content: center;
    justify-items: center;
  }

  #projects h2 {
    grid-area: h;
  }

  .project h3 {
    font-size: 200px;
  }

  .button-projects {
    grid-area: xx;
    justify-self: right;
  }

  .study-trip {
    grid-area: gg;
    justify-self: left;
  }
}

@media screen and (max-width: 400px) {
  #projects {
    background-color: (1, 49, 145, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "header header" "hh jj";
    justify-content: center;
    justify-items: center;
    height: fit-content;
    grid-row-gap: 1%;
  }

  #projects h2 {
    grid-area: h;
  }

  .project {
    width: auto;
  }

  .button-projects {
    grid-area: hh;
    justify-self: right;
  }

  .study-trip {
    grid-area: jj;
    justify-self: left;
  }
}
