.thanks {
  background-color: #010033;
  color: #fff;
  grid-area: e;
  justify-items: center;
  border-radius: 3%;
  width: 120%;
  height: 150%;
  display: grid;
  justify-items: center;
  margin: 3%;
}

.thanks h2 {
  font-size: 1.8em;
  padding: 0%;
  margin: 4% 0% 0% 0%;
}

.thanks p {
  font-size: 1.5em;
}

.thanks a {
  color: deepskyblue;
  font-size: 1.5em;
}
